@media only screen and (max-width: 1024px) {
    .overview-grid {
        grid-template-columns: 1fr;
    }

    .sidebar-aside {
        width: 100%;
        min-height: 1px !important;
        height: 60px !important;
        padding: 8px 40px 0px 40px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .responsive-flex {
        flex-direction: column-reverse;
    }

    .nav-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .none-m {
        display: none;
    }

    .logo-nav-extra-container {
        display: flex;
        align-items: center ;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .extra-navs {
        display: flex;
        align-items: center;
        margin-top: unset;
        flex-direction: row;
    }

    .nav-item {
        margin-bottom: unset !important;
        border-left: unset !important;
        border-bottom-right-radius: unset;
        border-top-left-radius: 8px;
    }

}



@media only screen and (max-width: 768px) {
    .balance-card {
        max-width: unset;
    }
    .page-component {
        padding: 24px 16px;
    }
    .nav-item {
        padding: 8px 24px;
    }
    .sidebar-aside {
        padding: 6px 24px 0px 24px;
    }
    .extra-navs {
        padding: 8px 24px;
    }
    
}

@media only screen and (max-width: 425px) {
    .overview-card {
        padding: 24px;
    }
    .overview-pots-box {
        padding: 8px;
    }
    .nav-item {
        padding: 4px 16px;
    }
    .sidebar-aside {
        padding: 4px 12px 0px 12px;
    }
    .extra-navs {
        padding: 4px 16px;
    }
    .transactions-selects {
        gap: unset;
        margin-left: 16px;
    }
    .transactions-main {
        padding: 8px;
    }
    .transactions-tbh {
        display: none;
    }
    .transaction-item {
        padding: 8px 0px;
        grid-template-columns: 2fr 1fr 1fr 0.8fr !important;
    }
    .transactions-pagination {
        margin-top: 0px;
    }

}

@media only screen and (max-width: 375px) {
    .overview-balances {
        gap: 12px;
    }
}
